/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.env
.env.testing
.env.example
.env.docker
docker.env
.git
.gitignore
.github
tests/
phpunit.xml
phpstan.neon
pint.json
README.md
